/*
Ebben a file-ban találod az oldalra vonatkozó
stílusok összességét.
Itt 2 féle meghatározással találkozhatsz:
- Típus szerinti, pl: body {}
- Osztály szerinti, pl: .cikkLeiras

A két meghatározást együtt is használhatod,
erre lentebb találsz is példát.
Csapjunk bele!
*/

/* Tartalom egészére vonatkozó stílus */
body {
  background-color: #00202A; /* Háttérszín */
  color: #E5E5E5; /* Betűszín */
  font-family: cursive; /* Betűtípus-csoport */
  margin: 0px; /* Margó */
}

/* Navigációs sáv osztályon belül
a rendezetlen listára vonatkozó stílus */
.navbar ul {
  margin: 0px;
}

/* Navigációs sáv osztály egészére vonatkozó stílus */
.navbar {
  padding-top: 20px; /* Kitöltés hellyel, felül */
  padding-bottom: 20px; /* Kitöltés hellyel, alul */
  position: fixed; /* Rögzített pozíció */
  display: block; /* Megjelenítés módja */
  background-color: #00202A;
  width: 100%; /* Szélesség */
}

/* Navigációs sáv osztályán belül
a lista elemekre vonatkozó stílus */
.navbar li {
  list-style: none; /* Lista stílus: semmilyen */
  float: left; /* Rendezés balra */
  padding-left: 50px; /* Kitöltés hellyel, bal oldalon */
  padding-right: 10px; /* Kitöltés hellyel jobb oldalon */
  width: 15%;
}

/* A fenti lista elemeken belüli
linkekre vonatkozó stílus */
.navbar li a {
  text-align: center; /* Szöveg rendezése középre */
  text-decoration: none; /* Link aláhúzás, dekoráció nélkül */
  text-transform: uppercase; /* Szöveg átalakítása nagybetűssé */
}

/* A fenti linkek stílusa, az egér rá*/
.navbar li:hover {
  background-color: #33464c;
}

/* A cikkekre vonatkozó stílus */
article {
  border-color: lightgray; /* Világosszürke szegély-szín */
  border-width: thin; /* Vékony szegély-vastagság */
  border-style: solid; /* Tömör szegély-stílus */
  border-radius: .5rem; /* Szegély lekerekítése */
  margin-left: 10px; /* Bal margó */
  margin-right: 10px; /* Jobb margó */
  margin-bottom: 10px; /* Alsó margó */
  padding-left: 10px;
  padding-right: 10px;
}

/* A cikkek tartalmára vonatkozó osztály stílusa */
.articleContent {
  padding-right: 5px;
  padding-left: 5px;
}

/* A főcímre vonatkozó osztály stílusa */
.title {
  text-align: center;
  font-size: 375%; /* Betűméret */
  padding-bottom: 40px;
}

/* A fejlécre vonatkozó osztály stílusa */
.mainHeader {
  background-color: #E5E5E5;
  color: #00202A;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 150px;
}

/* Az oldal leírására vonatkozó osztály stílusa */

.mainPage {
  margin: 20px;
  text-align: justify; /* Sorkizárt szöveg */
  font-size: 20px;
}
